/* style.css */

/* Thiết lập font chữ mặc định cho trang */
*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Định dạng header */

.header {
    wi
}

.hrm-title{

}

.account-title{

}

.title{

}

.icon{

}
