Front-end:
    HTML;
    CSS;
    JavaSript;

Back-end:
    PHP;

Database: 
    MySQL; 
    MongoDB;

Tool: 
    Bootstrap;
    ReactJS;


#Yêu cầu về phần mềm:
    PostMan;
    Github-Desktop;

#Yêu cầu về sử dụng phần mềm
    PostMan: Biết sử dụng để testAPI, xử lí dữ liệu từ API.
    Github-Desktop: Biết sử dụng 'Cơ bản' về Git, hiểu về Branch, commit, pull, push.