
/* Định dạng header */
.header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 3px 7px rgba(115, 115, 115, 0.3);
    /* background-color: var(--white-color); */
    background: -webkit-linear-gradient(to left, #cfebfc, #27A4F2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #CFEBFC, #27A4F2);
    position: relative;
    z-index: 1;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.hrm-title{
    display: flex;
}

.icon-nav{
    margin-left: 70px;
    transition: var(--tran-03);
    
}

.title{
    margin: 0 44px;
    transition: var(--tran-03);

}
.title.close{
    display: none;
    transition: var(--tran-04);
}
.icon-nav.close{
    margin-left: 38px;
    transition: var(--tran-04);
}
.icon-nav:hover{
    cursor: pointer;
    opacity: .8;
}



.account{
    display: flex;
    margin: 0 24px;
    align-items: center;
    height: 100%;
}

.account-title{
    margin: 0 12px;
}

.image-account{

}
.avatar-account{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.icon-account{

}


/* container  */

.container{
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-navbar);
}

/* container navbar */

.container-nav_bar{
    background-color: var(--background-navbar);
}
.nav_bar-function{
}

.nav_bar-function-content {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 12px; 
}
.nav_bar-function-content.close a, .nav_bar-function-content.close.function-icon_arrow_Manager{
    opacity: 0;
}

.nav_bar-function-content a{
    width: 190px;
    padding: 15px 20px 15px 30px;
    text-decoration: none;
    color: black;
    
}
.function-icon_arrow {

}
.nav_bar-function-icon{
    width: 25px;
    font-size: 12px;
    margin: 0 0 0 24px;
}   

.nav_bar-function_child{
    transition: var(--tran-03);
}

.nav_bar-list-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 44px;
    list-style: none;
    margin: 12px 0;
}


.nav_bar-list-item:hover{
    opacity: .6;
    color: #6586E6;
    cursor: pointer;
}

.none{
    display: none;
}

.nav_bar-list-item{
    
}

.nav_bar-list-item{

}


.container-content{

}

.container-search{
    background: #fff;
    padding: 12px;
}


/* model */
.model, .model-upadated{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    animation: modalFaceIn ease .8s;    
}
.modal-dialog, .modal-dialog-update{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}
.modal-content, .modal-content-update{
    background-color: #fff;
}
.modal-header, .modal-header-update{
    margin: 8px 0 0 0;
}

.form-group, .form-group-update{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-group label, .form-group-update label{
    margin: 0 32px 0 0;
}
.form-control, .form-control-update{
    height: 32px;
    width: 240px;
    outline: none;
}

.modal-header, .modal-header-update{
    font-size: 24px;
    text-align: center;
}

.model-display{
    display: block;
}
.btn-primary{
    background-color: #27A4F2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    font-size: 15px;
}




/* render data */

.form-data_manager{
    background: #fff;
    z-index: 1;
}
.form-data_manager_report{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;
    border-bottom: 1px solid #eee;
    padding: 12px;
}
.data_manager_report-text{
    display: block;
    font-weight: 600;
}
.data_manager_report-btn, .add-btn, .delete-btn, .update-btn{
    /* width: 60px; */
    height: 30px;
    color: white;
    background-color: #27A4F2;
    border: none;
    border-radius: 3px;
    padding: 7px;
}

.add-btn{
    position: relative;
    left: 30%;
}

.data_manager_report-btn:hover{
    background-color: #9FD7F9;
    cursor: pointer;
    transition: 0.5s;
}

.add-btn:hover{
    background-color: #6586E6;
    cursor: pointer;
    transition: 0.5s;
}
.form-data_manager-table{
    overflow: hidden;
}

#information-table{
    display: block;
    border-collapse: collapse;
    margin: 12px;
    width: 1100px;
    height: 343px;
    overflow: scroll;
}


th, td{
    border: 1px solid rgb(245, 245, 245);
    padding: 20px;
    text-align: center;

}

th{
    background: -webkit-linear-gradient(to bottom,#9fd7f9, #CFEBFC);  /* For Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#9fd7f9,#CFEBFC);
}

tr:hover{
    background-color: rgb(245, 245, 245);
    color: black;
}
.container-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.search-box{
    display: flex;
    position: absolute;
    top: 0;
    
}

.search-button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 12px;
}

.search-box_item{
    margin: 12px;
}

.search-box_item input{
    padding-left: 12px;
    border-radius: 5px;
}

.department-box .identification-box .fullname-box {
    
}

.container-search label {
    margin-left: 16px;
    display: inline-block;
}

.container_search input {

}

.search-button button {
    background-color: #27A4F2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    font-size: 15px;
}
  
  
.search-button button:hover {
    background-color: #6586E6;
    transition: 0.5s;
}

.search-box_item input {
    margin-top: 16px;
    width: 250px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
}

.search-box_item input::placeholder{
    color: #ccc;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 65px;
  }

  /* Links inside the dropdown */
  .dropdown-content form input[type="submit"],
  .dropdown-content a {
    border: none; 
    font-size: 16px; 
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.5s;
  }

  .dropdown-content form input[type="submit"] {
    background: none;
    border-radius: 0;
    margin-left: -8px;
  }

  .dropdown-content form.form-inline {
    display: flex;
    align-items: center;
  }
  .dropdown-content form.form-inline i {
    margin-left: 15px;
  }

  .dropdown-content form.form-inline:hover,
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  #dropdown:hover .dropdown-content {
    display: block;
  }

@keyframes modalFaceIn {
    from{
        transform: translateY(-140px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
/*---------------------admin-dashboard.php---------------------*/
.admin-dashboard-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 24px;
    margin: 16px;
}

.flex-container {
    /* display: flex-inline; */
    margin-top: 50px;
}

.total-employee,
.total-report-monthly,
.total-form,
.chart-container {
    display: inline-block;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 0 10px;
}

.total-employee {
    text-align: center;
    background: linear-gradient(to bottom, #d4f2f0, white);
}

.total-report-monthly {
    text-align: center;
    background: linear-gradient(to bottom, #F6D5F7, white);
}
.total-form {
    justify-content: space-between;
    background: linear-gradient(to bottom, #ccffcc, #ffcccc);
}
/* ---------------------end-------------------- */

.dashboard-container{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 24px;
    margin: 16px;
}

.dashboard-grid-info{
    display: grid;
    grid-row-gap: 24px;

}


.dashboard-information{
    height: 400px;
    background-color: #fff;
    box-shadow: 3px 5px 14px rgba(115, 115, 115, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

.dashboard-information_header p, .dashboard-profile_header p, .dashboard-benefit_header p{
    font-size: 20px;
    color: #2ea2e4;
    font-weight: 600;
    padding: 10px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #fbfbfb;
}

.dashboard-profile_containner, .dashboard-benefit_containner{
    margin: 24px 32px;
    display: grid;
    grid-template-columns: 30% 70% ;
}

.dashboard-information_containner{
    display: grid;
    grid-template-columns: 30% 50% 20%;
    margin: 24px 32px;
} 

.dashboard-information_containner_field p, .dashboard-profile_containner_detail p,  
.dashboard-benefit_containner_detail p, .dashboard-information_containner_detail p,
.dashboard-profile_containner_field p, .dashboard-benefit_containner_detail p{
    font-size: 20px;
    opacity: .75;
    margin-bottom: 8px;
}

.dashboard-profile_containner_detail, .dashboard-benefit_containner_detail{

}

.dashboard-information_containner_image{

}
.avatar-user{
    height: 200px;
    width: 100%;
}

.dashboard-profile{
    height: 200px;
    background-color: #fff;
    box-shadow: 3px 5px 14px rgba(115, 115, 115, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.dashboard-profile_header{
    
}


.dashboard-benefit{
    height: 200px;
    background-color: #fff;
    box-shadow: 3px 5px 14px rgba(115, 115, 115, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.dashboard-grid-active{

}

.dashboard-notice{
    height: 300px;
    margin-bottom: 24px;
    background-color: #fff;
    padding: 24px 32px;
    box-shadow: 3px 5px 14px rgba(115, 115, 115, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.dashboard-notice span ,.dashboard-salary_content span {
    font-size: 20px;
    opacity: .75;
    margin-bottom: 24px;
    display: block;
}
.dashboard-assignment_content span{
    margin-bottom: 24px;
    font-size: 20px;
    display: block;
    
}

.dashboard-assignment_content span, .dashboard-assignment_content .quanlity-notice span,
.dashboard-assignment_content .quanlity-notice i{
    color: #1c92e9;
}

.dashboard-notice a , .dashboard-assignment_content a, .dashboard-salary_content a{
    font-size: 16px;
    text-decoration: none;
    color: #2fa4e7;
}

.quanlity-notice{
    display: flex;
    justify-content: space-between;
}
.quanlity-notice span, .quanlity-notice i{
    font-size: 48px;
}
.dashboard-notice .quanlity-notice span, .dashboard-notice .quanlity-notice i{
    font-size: 48px;
    opacity: .6;
} 

.dashboard-list{
    display: grid;
    grid-template-columns: 48% 47.5%;
    grid-column-gap: 24px;
}

.dashboard-assignment{
    height: 180px;
    width: 100%;
    background-color: #dffbff;
    box-shadow: 3px 5px 24px rgba(115, 115, 115, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.dashboard-salary{
    height: 180px;
    width: 100%;
    background-color: #fff1d4;
    box-shadow: 3px 5px 24px rgba(115, 115, 115, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.dashboard-assignment_content, .dashboard-salary_content{
    margin: 16px 20px;
}
.salary_employee{
    font-size: 28px;
    margin-bottom: 46px;
    opacity: .65;
    color: #fe9405;
}
.dashboard-salary_content span, .dashboard-salary_content a {
    color: #fe9405;
}


